<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Light Automation</title>
</head>
<body>
<div class="container-fluid" style="padding-top:50px">
    <div class="row">
        <div class="col-lg-6">
            <button type="button" class="btn btn-xl buttons" onClick="toggleLight('on')" >On</button>
        </div>
        <div class="col-lg-6">
            <button type="button" class="btn btn-xl buttons" onClick="toggleLight('off')">Off</button>
        </div>
    </div>
</div>
<div class="container-fluid" style="padding-top:100px">
    {{devices}}
</div>

<script>
function toggleLight(state) {
    fetch('/toggle_light/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ state: state })
    })
    .then(response => {
        if (response.ok) {
            alert(`Light turned ${state}\n${response.content.response}`);
        } else {
            alert('Failed to change light state.');
        }
    });
}
</script>
</body>

</html>